{% extends 'home.html' %}

<title>
    {% block title %} Write Blog {% endblock %}
</title>

{% block main %}

<h2> Post Blog Here... </h2>

<div class="elements">

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
         {{ form.as_p }}

        <input type="submit" value="Post Now" class="btn btn-info">

    </form>

    
    {% if messages %}
        
        {% for message in messages  %}
            <strong> {{ message }} </strong>
        {% endfor %}
            
    {% endif %}
        

</div>

{% endblock main %}